.fb-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: 0.1s ease;
}
.primary {
  background-color: #f8d57e;
  &:hover {
    background-color: #ffc533;
  }
}
.background {
  background-color: #efeeec;
}
.action-button {
  @extend .primary;
  min-width: 170px;
}
.emotions {
  display: inline-flex;
  > span {
    margin-right: 10px;
    cursor: pointer;
  }
  .icon {
    font-size: 2rem;
    &.happy {
      &:hover {
        color: gray;
        transform: scale(1.2);
        transition: all 0.25s ease;
      }
      &.active {
        color: #ffc533;
        animation-name: bounce;
        animation-timing-function: linear;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
      }
    }
    &.nothappy {
      &:hover {
        color: gray;
        transform: scale(1.2);
        transition: all 0.25s ease;
      }
      &.active {
        color: #c53030;
        animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
    }
    &.acceptable {
      &:hover {
        color: gray;
        transform: scale(1.2);
        transition: all 0.25s ease;
      }
      &.active {
        color: #2b6cb0;
      }
    }
  }
}
textarea {
  resize: none;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
